<!DOCTYPE html>
<html>
<head>
	<title>Student info. Relase 1</title>
</head>
<body>
	<h1>Student infomation</h1>
	<p>Please enter the student's ID for more information</p>
	<form action='#' method="GET">
		<input type="text" name="name" placeholder="Student Name">
		<input type="text" name="id" placeholder="Studen ID">
		<button type="submit">Submit</button>
	</form>
</body>
</html>