#octopus {
	margin-top: 250px;
	z-index: -1;
	position: absolute;
	left: 40%;
}

#hat {
	position: absolute;
	top: 20%;
	left: 40%;
}

#glasses {
	position: absolute;
	top: 42%;
	left: 42.5%;
}